@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">myRecipes</h1>
    <p>A web application that lets you store and access your cooking recipes.</a>.</p>
</div>
